{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "development": {
      "compact": false
    }
  },
  "plugins": ["transform-class-properties"]
}
